* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background-image: url(images/HD-wallpaper-rock-paper-scissors-showdowm-rock-scissors-rock-paper-scissors-paper-blue-jan-ken-pon.jpg);
}

h1 {
    background-color: rgb(164, 33, 116);
    color: azure;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
    border-radius: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-boarder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 4rem;
}

#user-score, 
#comp-score {
    font-size: 4rem;
}

#msg {
    background-color: rgb(26, 215, 196);
    color: rgb(6, 1, 1);
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

.msg-container {
    margin-top: 2rem;
}